<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Admin</title>
</head>
<body>
<header>
        <h1>XYZ Car Rental Services</h1>
</header>
<nav>
    <ul>
        <li style="color: white;">Logged in to Admin</li>   
    </ul>
</nav>


<section class="s">

<form action="/admin/logout" method="POST">
    <button type="submit">Logout</button>
</form>
<form method="post" action="/admin/search">
    <input type="tel" name="phone" placeholder="Search by phone">
    <button type="submit">Search</button>
</form>
</section>


<div class="container">
    <h style="font-size:x-large">Bookings</h>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</Address></th>
                <th>Days</th>
                <th>Vehicle</th>
                <th>Delete</th>             
            </tr>
        </thead>
        <tbody>
            <% docs.forEach(function(item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.phone %></td>
                    <td><%= item.address %></td>
                    <td><%= item.days %></td>
                    <td><%= item.vehicle %></td>
                    <td data-label="Delete">
                    <form method="post" action="/admin/delete/<%= item._id %>" onsubmit="return confirm('Are you sure you want to delete this record?');">
                    <button type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
          
    </table>
 </div>

 <footer>
        <p>&copy; 2023 XYZ Car Rental Service</p>
 </footer>
    
</body>
</html>