<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Admin</title>
</head>
<body>
<header>
        <h1>XYZ Car Rental Services</h1>
        
</header>

<nav>
        <ul>
            <li><a href="/admin/dashboard">Back to Dashboard</a></li>
        </ul>
</nav>


<div class="container">
    <h style="font-size:x-large">Search Results</h>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</Address></th>
                <th>Days</th>
                <th>Vehicle</th>             
            </tr>
        </thead>
        <tbody>
            <% docs.forEach(function(item) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.phone %></td>
                    <td><%= item.address %></td>
                    <td><%= item.days %></td>
                    <td><%= item.vehicle %></td>
                </tr>
            <% }); %>
        </tbody>
          
    </table>
 </div>

 <footer>
        <p>&copy; 2023 XYZ Car Rental Service</p>
 </footer>
    
</body>
</html>